#
# Common GRUB configuration file
#

# Boot automatically after 3 secs.
set timeout=3

### BEGIN DEVICE SPECIFIC GRUB.CFG ###
{DEVICE_SPECIFIC_GRUB_CFG}
### END DEVICE SPECIFIC GRUB.CFG ###

menuentry " " --class separator {
    true
}

submenu "Recovery..." {
	menuentry "<-- Back" --class leave {
		true
	}

	extract_entries_source ${cmdpath}/multiboot_recovery.cfg
}

extract_entries_source ${cmdpath}/multiboot_system.cfg

menuentry " " --class separator {
    true
}

# Change the colors.
menuentry "Change the colors" --id colors {
	set menu_color_normal=light-green/brown
	set menu_color_highlight=red/blue
}

menuentry "Reboot" {
	reboot
}
